* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  display: block;
}
body {
  background-color: #ecd1d1;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
}

header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: #f1d1d1;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.logo img {
  max-height: 10rem;
  height: auto;
  width: auto;
  display: block;
}

.heroheading {
  background-color: #f1d1d1;
  height: 35vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
}

.heroheading #subhead {
  margin-top: 15rem;
  margin-left: 8rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #292525;
  font-weight: 500;
  position: relative;
}
.heroheading #mainhead {
  color: #292525;
  margin-top: 1rem;
  margin-left: 8rem;
  position: relative;
  font-size: 4.1rem;
  font-weight: 550;
  max-width: 60%;
  line-height: 1.2;
}
.heroheading button {
  margin-left: 8rem;
  margin-top: 4rem;
  background-color: #292525;
  color: white;
  border-radius: 5rem;
  padding: 0.8rem 0.7rem;
  cursor: pointer;
  position: relative;
}
.container {
  height: 90vh;
}

.second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: aliceblue;
  height: 55vh;
  width: 100%;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}
/* .second-container .sc-left1 .left-1 {
  display: flex;
  width: 100%;
  position: relative;
} */

.second-container .sc-right {
  margin-left: 8rem;
  gap: 6rem;
  align-items: center;
  display: flex;
  width: 55%;
  flex-direction: column;
}
.second-container .sc-right h1 {
  text-align: end;
  margin-right: 7rem;
  font-size: 2.5rem;
  font-weight: 400;
}
.second-container .sc-right p {
  text-align: end;
  margin-right: 7rem;
  font-size: 1rem;
  font-weight: 200;
}
.second-container .sc-left {
  width: 40%;
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.second-container .sc-left .book-service {
  margin-top: 1rem;
  background-color: #292525;
  color: white;
  border-radius: 5rem;
  padding: 0.3rem 0.9rem;
  cursor: pointer;
  position: relative;
}
.tc-headingb {
  padding: 1rem 6rem;
  border-bottom: 2px solid #a37b7b;
  display: flex;
  justify-content: start;
  gap: 3rem;
  background-color: #ede8d3;
  align-items: center;
}
.tc-headingb div {
  font-size: 1.1rem;
  margin-left: 2.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.tc-headingb div:hover {
  color: #e96e9f;
}

.third-container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2rem 5rem;
  background-color: #ede8d3;
  height: auto;
  width: 100%;
}

.third-container .bridal {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
  text-align: end;
  margin-right: 10rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.third-container .bridal .bridali {
  margin-top: 2rem;
  width: 27%;
  height: auto;
  max-width: 18rem;
  display: block;
  border-radius: 10px;
}

.third-container .bridal .bridaltext {
  flex-grow: 1;
  flex-direction: column;
  height: auto;
  display: block;
}

.third-container .bridal .bridaltext h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.third-container .facial {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
  text-align: end;
  margin-right: 10rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.third-container .facial .faciali {
  margin-top: 2rem;
  width: 41%;
  height: auto;
  max-width: 33rem;
  display: block;
  border-radius: 10px;
}

.third-container .facial .facialtext {
  flex-grow: 1;
  flex-direction: column;
  height: auto;
  display: block;
}

.third-container .facial .facialtext h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.third-container .haircut {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
  text-align: end;
  margin-right: 10rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.third-container .haircut .haircuti {
  margin-top: 2rem;
  width: 44%;
  height: auto;
  max-width: 33rem;
  display: block;
  border-radius: 10px;
}

.third-container .haircut .haircuttext {
  flex-grow: 1;
  flex-direction: column;
  height: auto;
  display: block;
}

.third-container .haircut .haircuttext h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.third-container .manicure {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
  text-align: end;
  margin-right: 10rem;
  font-size: 1.1rem;
  font-weight: 200;
}
.third-container .manicure .manicurei {
  margin-top: 2rem;
  width: 44%;
  height: auto;
  max-width: 33rem;
  display: block;
  border-radius: 10px;
}
.third-container .manicure .manicuretext {
  flex-grow: 1;
  flex-direction: column;
  height: auto;
  display: block;
}
.third-container .manicure .manicuretext h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.third-container .mehendi {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
  text-align: end;
  margin-right: 10rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.third-container .mehendi .mehendii {
  margin-top: 2rem;
  width: 44%;
  height: auto;
  max-width: 33rem;
  display: block;
  border-radius: 10px;
}
.third-container .mehendi .mehenditext {
  flex-grow: 1;
  flex-direction: column;
  height: auto;
  display: block;
}
.third-container .mehendi .mehenditext h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.third-container .threading {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
  text-align: end;
  margin-right: 10rem;
  font-size: 1.1rem;
  font-weight: 200;
}
.third-container .threading .threadingi {
  margin-top: 2rem;
  width: 44%;
  height: auto;
  max-width: 33rem;
  display: block;
  border-radius: 10px;
}

.third-container .threading .threadingtext {
  flex-grow: 1;
  flex-direction: column;
  height: auto;
  display: block;
}
.third-container .threading .threadingtext h3 {
  font-size: 25px;
  margin-bottom: 1rem;
  font-weight: 400;
}
/* sagde services hide kru adhi */
.third-container .bridal,
.third-container .facial,
.third-container .haircut,
.third-container .manicure,
.third-container .mehendi,
.third-container .threading {
  display: none;
}

/* 1st service la dakhva fakt becuase te disayla hav web open krtach */
.third-container .bridal {
  display: flex; /* Bridal service adhichich visible asel */
}
.contact-form {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  gap: 4rem;
  background-color: rgb(70, 145, 210);
  height: 55vh;
  width: 100%;
}
